<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>SSM Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./styles/map-nav.css" />
    <link rel="stylesheet" href="./styles/style.css" />
    <style type="text/css">
    .header {
        background-color: black;
        height: 80px !important;
        overflow: hidden;
        width: 100%;
    }

    .left-drawer {
        /*width: auto;*/
        margin-top: 0px;
    }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="map-nav-sAd">
            <div class="frame-287-9tq">
                <div class="group-100-Fgy">
                    <img class="mask-group-xrH" src="./assets/mask-group-EKf.png" />
                </div>
                <img class="polygon-1-qv5" src="./assets/polygon-1-yrm.png" />
                <p class="small-scale-mining-monitoring-AhT">Small Scale Mining Monitoring</p>
            </div>
            <div class="frame-286-ecd">
                <img class="download-2-y97" src="./assets/download-2-n93.png" />
                <div class="cilss-1-Gtu">
                </div>
                <img class="cersgis-original-logo-1-MvM" src="./assets/cersgis-original-logo-1-Wkm.png" />
                <img class="usaid-1-UVB" src="./assets/usaid-1.png" />
            </div>
        </div>
    </div>
    <!-- <div class="left-drawer"> -->
    <div class="map-nav-Z9P">
        <div class="side-nav">
            <img class="mi-chevron-double-right-1eu" src="./assets/mi-chevron-double-right-qYR.png" />
            <!-- <img class="vector-20-hXj" src="REPLACE_IMAGE:436:2076" /> -->
            <div class="frame-293-CzH">
                <div class="auto-group-qeuu-7rM">
                    <div id="details" class="frame-292-1B3">
                        <img class="details ph-info-light-w4h" src="./assets/ph-info-light-rcD.png" />
                        <p class="dt-txt details-1qF">Details</p>
                    </div>
                    <div id="legend" class="frame-291-vBX">
                        <img class="gis-map-legend-o-SvZ" src="./assets/gis-map-legend-o-nmB.png" />
                        <p class="dt-txt legend-jem">Legend</p>
                    </div>
                    <div id="layers" class="frame-290-eWq">
                        <img class="fluent-layer-20-regular-NSq" src="./assets/fluent-layer-20-regular.png" />
                        <p class="dt-txt layers-G2R">Layers</p>
                    </div>
                    <div id="basemap" class="frame-289-B9P">
                        <img class="ion-map-outline-VQy" src="./assets/ion-map-outline.png" />
                        <p class="dt-txt basemaps-ogZ">Basemaps</p>
                    </div>
                    <div id="query" class="frame-308-X6m">
                        <img class="tabler-brand-google-big-query-F2m" src="./assets/tabler-brand-google-big-query.png" />
                        <p class="dt-txt query-data-Xky">Query Data</p>
                    </div>
                    <div id="analysis" class="frame-311-eah">
                        <img class="uis-analysis-ycy" src="./assets/uis-analysis.png" />
                        <p class="dt-txt analysis-sCZ">Analysis</p>
                    </div>
                    <div id="charts" class="frame-311-eah">
                        <img class="uis-analysis-ycy" src="./assets/frame-309.png" />
                        <p class="dt-txt analysis-sCZ">Charts</p>
                    </div>
                </div>
                <!-- <div class="frame-310-AxM">
                        <div class="frame-312-7ch">
                            <img class="frame-309-2Um" src="./assets/frame-309.png" />
                            <div class="dt-txt charts-9JV">Charts</div>
                        </div>
                    </div> -->
            </div>
            <img class="vector-19-AzH" src="REPLACE_IMAGE:436:2102" />
            <div class="frame-335-5LZ">
                <div class="frame-129-nEy">
                    <img class="clarity-download-cloud-line-hsj" src="./assets/clarity-download-cloud-line-9NV.png" />
                    <p class="dt-txt download-zrq">Download</p>
                </div>
                <div class="frame-312-txD">
                    <img class="vector-22q" src="./assets/vector-7Bb.png" />
                    <p class="dt-txt search-KGq">Search</p>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3668087.3287588204!2d-2.611274383648893!3d9.401940998074267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sgh!4v1680274451964!5m2!1sen!2sgh" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="box detials">
                    <div class="close closebox"> <span> X </span></div>
                    <h2> Small-Scale Mining Monitoring Portal</h2>
                    <p>In collaboration with </p>
                    <img class="partner-img" src="./assets/partners/1.png" />
                    <img class="partner-img" src="./assets/partners/2.png" />
                    <img class="partner-img" src="./assets/partners/3.png" />
                    <img class="partner-img" src="./assets/partners/4.png" />
                    <h4> Small-Scale Mining Monitoring Portal</h4>
                    <p>The galamsey monitoring portal was built on 100% open-source framework and libraries. The main frame work is Django which is a python-based framework. The map interface was developed using a JavaScript based library called leaflet js which helps render and visualize all the results.<br><br>
                        It is developed to allow stakeholders monitor the extent of galamsey activities on the environment across the country at ease.<br><br>
                        All computations and querries are been processed using google earth engine python API . which sends results in a form of xyz tiles layer which can be rendered in the leaflet JS or json.<br><br>
                        The map has basemap layers from openstreetmaps, google st, topographic openstreetmaps,etc. The timeseries and bar chart were all done using highcharts js </p>
                </div>
                <div class="box legend">
                    <div class="close closebox"> <span> X </span></div>
                    <h2> Layers</h2>
                    <div class="row" style="margin-top: 10px;">
                        <!-- <h4 class="boxheading"> Layers</h4> -->
                        <div class="col-12" style="">
                            <div class="custom-control custom-switch" style="">
                                <input type="checkbox" class="custom-control-input" id="switch1" name="example">
                                <label class="custom-control-label" for="switch1"></label>
                            </div>
                            <div class="lgd lgd1"></div>
                            <p class="layer-name">Region</p>
                        </div>
                        <div class="col-12" style="">
                            <div class="custom-control custom-switch" style="">
                                <input type="checkbox" class="custom-control-input" id="switch2" name="example">
                                <label class="custom-control-label" for="switch2"></label>
                            </div>
                            <div class="lgd lgd2"></div>
                            <p class="layer-name">District</p>
                        </div>
                        <div class="col-12" style="">
                            <div class="custom-control custom-switch" style="d">
                                <input type="checkbox" class="custom-control-input" id="switch3" name="example">
                                <label class="custom-control-label" for="switch3"></label>
                            </div>
                            <div class="lgd lgd3"></div>
                            <p class="layer-name">Protected Areas</p>
                        </div>
                        <div class="col-12" style="">
                            <div class="custom-control custom-switch" style="">
                                <input type="checkbox" class="custom-control-input" id="switch4" name="example">
                                <label class="custom-control-label" for="switch4"></label>
                            </div>
                            <div class="lgd lgd4"></div>
                            <p class="layer-name">Area of Interest</p>
                        </div>
                    </div>
                </div>
                <div class="box query">
                    <div class="close closebox"> <span> X </span></div>
                    <h2> Galamsey Footprints</h2>
                    <form class="form-compact" action="">
                        <div class="row paddingBottom20">
                            <div class="container col-12">
                                <div class="row">
                                    <!-- <h6 class="text-center col-12 mb-0">Contact Information</h6> -->
                                    <sub class="text-right text-muted col-12"><a href="#" tabindex="-1"><i class="far fa-edit"></i></a></sub>
                                </div>
                                <div class="dropdown-divider mb-3"></div>
                                <div class="form-group row align-items-center">
                                    <div class="col-12">
                                        <div class="col-12" style="">
                                            <label for="region" class="col-12 col-form-label-lg">Region:</label>
                                            <div class="input-group">
                                                <select id="region" class="form-control">
                                                    <option>Select a Region</option>
                                                    <option value="AR">AHAFO</option>
                                                    <option value="AS">ASHANTI</option>
                                                    <option value="BE">BONO EAST</option>
                                                    <option value="BA">BRONG AHAFO</option>
                                                    <option value="CR">CENTRAL</option>
                                                    <option value="ER">EASTERN</option>
                                                    <option value="GA">GREATER ACCRA</option>
                                                    <option value="NE">NORTH EAST</option>
                                                    <option value="NR">NORTHERN</option>
                                                    <option value="OR">OTI</option>
                                                    <option value="SR">SAVANNAH</option>
                                                    <option value="UE">UPPER EAST</option>
                                                    <option value="UW">UPPER WEST</option>
                                                    <option value="VR">VOLTA</option>
                                                    <option value="WE">WESTERN</option>
                                                    <option value="WN">WESTERN NORTH</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-12">
                                        <div class="col-12" style="">
                                            <label for="district" class="col-12 col-form-label-lg">District:</label>
                                            <div class="input-group">
                                                <select id="district" class="form-control">
                                                    <option value="">Select a District</option>
                                                    <option value="ADA">ADANSI ASOKWA DISTRICT ASSEMBLY</option>
                                                    <option value="ADN">ADANSI NORTH DISTRICT ASSEMBLY</option>
                                                    <option value="ANC">AMANSIE CENTRAL DISTRICT ASSEMBLY</option>
                                                    <option value="AMS">AMANSIE SOUTH DISTRICT ASSEMBLY</option>
                                                    <option value="AMW">AMANSIE WEST DISTRICT ASSEMBLY</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center oneyear">
                                    <div class="col-12">
                                        <div class="col-12" style="">
                                            <label for="year" class="col-12 col-form-label-lg">Year:</label>
                                            <div class="input-group">
                                                <select id="year" class="form-control">
                                                    <option>Select the Year</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2022">2022</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center twoyear" style="display: none;">
                                    <div class="row" style="padding: 0px 15px;">
                                        <div class="col-6" style="">
                                            <label for="firstName" class="col-12 col-form-label-lg">Year 1:</label>
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <select id="year" class="form-control">
                                                        <option>Select Year1</option>
                                                        <option value="2015">2015</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2022">2022</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6" style="">
                                            <label for="firstName" class="col-12 col-form-label-lg"> Year 2:</label>
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <select id="year" class="form-control">
                                                        <option>Select Year2</option>
                                                        <option value="2015">2015</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2022">2022</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-12">
                                        <label class="col-12 col-form-label-lg"> <input id="switchyear" type="checkbox"> Compare two (2) years instead </label>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-12">
                                        <button class="btn btn-success"> Query </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box basemap">
                    <div class="close closebox"> <span> X </span></div>
                    <h2> Basemaps</h2>
                    <div class="row" style="margin-top: 10px; padding: 5px 15px 5px 15px;">
                        <!-- <h4 class="boxheading"> Layers</h4> -->
                        <div class="col-12" style="">
                            <div class="row" style="">
                                <div class="col-6 lgndthumb" id="basemap1">
                                    <img src="./assets/maplegend/cartodb_positron.png">
                                </div>
                                <div class="col-6 lgndthumb" id="basemap9">
                                    <img src="./assets/maplegend/esri_oceanbasemap.png ">
                                </div>
                                <div class="col-6 lgndthumb" id="basemap3">
                                    <img src="./assets/maplegend/esri_worldterrain.png ">
                                </div>
                                <div class="col-6 lgndthumb" id="basemap2">
                                    <img src="./assets/maplegend/here_satelliteday.png ">
                                </div>
                                <div class="col-6 lgndthumb" id="basemap5">
                                    <img src="./assets/maplegend/stamen_toner.png ">
                                </div>
                                <div class="col-6 lgndthumb" id="no_basemap">
                                    <img src="./assets/maplegend/white.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- </div> -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./js/script.js"></script>
    <!-- <link rel="stylesheet" href="./styles/style.css" /> -->
    <script type="text/javascript">
    </script>
</body>
<!-- </html> -->