{% load static %}


<div id="dashboard" class="p-5 dashboard-container">
    <div class="row justify-content-center">
        <!--Districts Summary Table-->
        <div class="dashboard-cols col-12">
            <div class="table chart-card">
                <h5 class="card-title pb-2"><span class="iconify me-2" data-icon="game-icons:mining" data-width="22" data-height="22"></span>Districts Summary</h5>
                <div id="tblborder" class="tblborder">
                    <table id="district_summary_table" class="display">
                        <thead>
                            <tr>
                                <th>Region</th>
                                <th>District</th>
                                <th>Accumulated Points</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>