{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Charcoal Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.12/leaflet.draw.css" />
    <link rel="stylesheet" href="{% static 'charcoal_portal/assets/libs/styles/map-nav.css' %}" />
    <link rel="stylesheet" href="{% static 'charcoal_portal/assets/libs/css/leaflet-measure.css' %}" />
    <link rel="stylesheet" href="{% static 'charcoal_portal/assets/libs/styles/style.css' %}" />
    <style type="text/css">
    .leaflet-control-measure .leaflet-control {
        border: 2px solid rgba(0, 0, 0, 0.2) !important;
        background-clip: padding-box;
    }

    .leaflet-control-measure {
        box-shadow: 0 1px 5px rgb(0, 0, 0, 0.2) !important;
    }

    .leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle,
    .leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle:hover {
        width: 31px;
        height: 31px;
    }

    .header {
        background-color: #cee4ca;
        height: 80px !important;
        overflow: hidden;
        width: 100%;
    }

    .left-drawer {
        margin-top: 0px;
    }

    #loading-bar-spinner.spinner {
        left: 50%;
        margin-left: -20px;
        top: 50%;
        margin-top: -20px;
        position: absolute;
        z-index: 500 !important;
        animation: loading-bar-spinner 400ms linear infinite;
    }

    #loading-bar-spinner.spinner .spinner-icon {
        width: 50px;
        height: 50px;
        border: solid 4px transparent;
        border-top-color: #00c8b1 !important;
        border-left-color: #00c8b1 !important;
        border-radius: 50%;
    }

    @keyframes loading-bar-spinner {
        0% {
            transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }


    .notify {
        position: absolute;
        padding: 0px 30px;
        top: 20px;
        right: 20px;
        width: auto;
        height: 0;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
        background: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: height .2s;
        border-radius: 10px;
        z-index: 999;
    }

    #notifyText {
        padding-top: 6px;
    }

    #notifyText>img {
        display: inline-flex;
        width: 20px;
        height: 20px;
        margin: -3px 10px 0px 0px;
    }

    .active {
        height: 40px;
    }
    </style>
</head>

<body>
    <div id="modal-container" class="one">
        <div class="modal-background">
            <div class="modal">
                <h2>Disclaimer</h2>
                <p> <strong>SERVIR WEST AFRICA</strong>, <strong>CERSGIS</strong>, <strong>USAID</strong>, and <strong>NASA</strong> do not take responsibility for any inaccuracy in any information shared on this web portal and shall not be liable for any damages attributed to this data.</p> 
                <button class="btn btn-success m-close"> OK</button>
                <!-- <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
                                <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
                            </svg> -->
            </div>
        </div>
    </div>
    <div id="loading-bar-spinner" class="spinner">
        <div class="spinner-icon"></div>
    </div>
    <div class="header">
        <div class="map-nav-sAd">
            <div class="col-7">
                <h2> Charcoal Production Site Monitoring Portal</h2>
                <!-- <img class="servir-logo" src="{% static 'charcoal_portal/assets/assets/logo/servir.png' %}" />
 -->                <!-- <p class="small-scale-mining-monitoring-AhT">Small Scale Mining Monitoring</p> -->
            </div>
            <div class="col-5">
                <div class="frame-286-ecd">
                    <img class="map-logo" src="{% static 'charcoal_portal/assets/assets/logo/nasa.png' %}" />
                    <img class="map-logo" src="{% static 'charcoal_portal/assets/assets/logo/usaid.png' %}" />
                    <img class="map-logo" src="{% static 'charcoal_portal/assets/assets/logo/icrisat.png' %}" style="" />
                    <img class="map-logo" src="{% static 'charcoal_portal/assets/assets/logo/cersgis.png' %}" />
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="left-drawer"> -->
    <div class="map-nav-Z9P">
        <div class="side-nav">
            <img class="mi-chevron-double-right-1eu" src="{% static 'charcoal_portal/assets/assets/mi-chevron-double-right-qYR.png' %}" />
            <!-- {% comment %} <img class="vector-20-hXj" src="REPLACE_IMAGE:436:2076" /> {% endcomment %} -->
            <div class="frame-293-CzH">
                <div class="auto-group-qeuu-7rM">
                    <div id="details" class="frame-292-1B3">
                        <img class="details ph-info-light-w4h" src="{% static 'charcoal_portal/assets/assets/ph-info-light-rcD.png' %}" />
                        <p class="dt-txt details-1qF">Details</p>
                    </div>
                    <div id="layer" class="frame-290-eWq">
                        <img class="fluent-layer-20-regular-NSq" src="{% static 'charcoal_portal/assets/assets/fluent-layer-20-regular.png' %}" />
                        <p class="dt-txt layers-G2R">Layers</p>
                    </div>
                    <div id="legend" class="frame-291-vBX">
                        <img class="gis-map-legend-o-SvZ" src="{% static 'charcoal_portal/assets/assets/gis-map-legend-o-nmB.png' %}" />
                        <p class="dt-txt legend-jem">Legend</p>
                    </div>
                    <div id="basemap" class="frame-289-B9P">
                        <img class="ion-map-outline-VQy" src="{% static 'charcoal_portal/assets/assets/ion-map-outline.png' %}" />
                        <p class="dt-txt basemaps-ogZ">Basemaps</p>
                    </div>
                    <div id="query" class="frame-308-X6m">
                        <img class="tabler-brand-google-big-query-F2m" src="{% static 'charcoal_portal/assets/assets/tabler-brand-google-big-query.png' %}" />
                        <p class="dt-txt query-data-Xky">Charcoal data</p>
                    </div>
                    <!-- <div id="analysis" class="frame-311-eah">
                        <img class="uis-analysis-ycy" src="{% static 'charcoal_portal/assets/assets/uis-analysis.png' %}" />
                        <p class="dt-txt analysis-sCZ">Analysis</p>
                    </div> -->
                    <!-- <div id="charts" class="frame-311-eah">
                        <img class="uis-analysis-ycy" src="{% static 'charcoal_portal/assets/assets/frame-309.png' %}" />
                        <p class="dt-txt analysis-sCZ">Charts</p>
                    </div> -->
                </div>
                <!-- <div class="frame-310-AxM">
                        <div class="frame-312-7ch">
                            <img class="frame-309-2Um" src="{% static 'charcoal_portal/assets/assets/frame-309.png' %}" />
                            <div class="dt-txt charts-9JV">Charts</div>
                        </div>
                    </div> -->
            </div>
            <!-- <img class="vector-19-AzH" src="REPLACE_IMAGE:436:2102" /> -->
            <div class="frame-335-5LZ">
                <!-- <div class="frame-129-nEy">
                    <img class="clarity-download-cloud-line-hsj"
                        src="{% static 'charcoal_portal/assets/assets/clarity-download-cloud-line-9NV.png' %}" />
                    <p class="dt-txt download-zrq">Download</p>
                </div>
                <div class="frame-312-txD">
                    <img class="vector-22q" src="{% static 'charcoal_portal/assets/assets/vector-7Bb.png' %}" />
                    <p class="dt-txt search-KGq">Search</p>
                </div> -->
            </div>
        </div>
        <div id="map" class="map">
            <div class="notify">
                <p class="" id="notifyText"><img class="" style="display: inline-flex;" src="{% static 'charcoal_portal/assets/assets/ph-info-light-rcD.png' %}" /> in development</p>
            </div>
            <div class="box detials">
                <div class="close closebox"> <span> X </span></div>
                <!-- <h4> Small-Scale Mining Monitoring Portal</h4>
                <p>In collaboration with </p> -->
                <p>
                    <img class="" style="width: 80%; height: auto; margin-bottom: 15px;" src="{% static 'charcoal_portal/assets/assets/partners/11.png' %}" />
                    <br>
                    The online portal has been developed by the Center for Remote Sensing and
                    Geographic Information Services (CERSGIS), with the support of USAID and NASA as part of the SERVIR West Africa Program, a global network of SERVIR programs in more than 50 countries around the world. <br><br>
                    This monitoring service is a web-based platform for visualizing the spatial distribution of charcoal production sites, to facilitate savannah woodland degradation monitoring in Ghana.<br><br>
                    The information is produced and updated by CERSGIS in collaboration with national
                    partner institutions and communities.
                </p>
            </div>
            <div class="box2 legend">
                <div class="close closebox1"> <span> X </span></div>
                <h4> Legend</h4>
                <div class="row" style="padding: 5px;">
                    <!-- <h4 class="boxheading"> Layers</h4> -->
                    <div class="col-12" id="legend-region">
                        <div class="lgd lgdx1"></div>
                        <p class="layer-name">Region</p>
                    </div>
                   <!--  <div class="col-12" id="legend-district">
                        <div class="lgd lgdx2"></div>
                        <p class="layer-name">District</p>
                    </div> -->
                    <!-- <div class="col-12" id="legend-protected-areas">
                        <div class="lgd lgdx3"></div>
                        <p class="layer-name">Protected Areas</p>
                    </div> -->
                    <!-- <div class="col-12" id="legend-mineral-concession">
                        <div class="lgd lgdx41"></div>
                        <p class="layer-name">Mineral Concession</p>
                    </div>
                    <div class="col-12" id="legend-aoi">
                        <div class="lgd lgdx4"></div>
                        <p class="layer-name">Galamsey Area of Interest</p>
                    </div> -->
                    <!-- <div class="col-12" id="legend-selected-district">
                        <div class="lgd lgdx5"></div>
                        <p class="layer-name">District of Interest</p>
                    </div>
                    <div class="col-12" id="legend-footprint-2015">
                        <div class="lgd lgdx61"></div>
                        <p class="layer-name">Galamsey footprints 2015</p>
                    </div>
                    <div class="col-12" id="legend-footprint-2018">
                        <div class="lgd lgdx62"></div>
                        <p class="layer-name">Galamsey footprints 2018</p>
                    </div>
                    <div class="col-12" id="legend-footprint-2022">
                        <div class="lgd lgdx63"></div>
                        <p class="layer-name">Galamsey footprints 2022</p>
                    </div> -->
                    <!-- <div class="col-12">
                        <div class="lgd lgdx64"></div>
                        <p class="layer-name">Galamsey footprints 2023</p>
                    </div> -->
                    <div class="col-12" id="legend-year-one">
                        <div class="lgd lgdx7"></div>
                        <p class="layer-name">Kiln (Year1)</p>
                    </div>
                    <div class="col-12" id="legend-year-two">
                        <div class="lgd lgdx8"></div>
                        <p class="layer-name">Kiln (Year2)</p>
                    </div>
                </div>
            </div>
            <div class="box layer">
                <div class="close closebox"> <span> X </span></div>
                <h4> Layers</h4>
                <div class="row" style="margin-top: 10px; padding: 5px;">
                    <!-- <h4 class="boxheading"> Layers</h4> -->
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="region_boundary" name="example">
                            <label class="custom-control-label" for="region_boundary"></label>
                        </div>
                        <div class="lgd lgd1"></div>
                        <p class="layer-name">Region</p>
                    </div>
                    <!-- <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="district_boundary" name="example">
                            <label class="custom-control-label" for="district_boundary"></label>
                        </div>
                        <div class="lgd lgd2"></div>
                        <p class="layer-name">District</p>
                    </div> -->
                    <!-- <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="protected_area_boundary"
                                name="example">
                            <label class="custom-control-label" for="protected_area_boundary"></label>
                        </div>
                        <div class="lgd lgd3"></div>
                        <p class="layer-name">Protected Areas</p>
                    </div> -->
                    <!-- <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="mineral_concession_boundary"
                                name="example">
                            <label class="custom-control-label" for="mineral_concession_boundary"></label>
                        </div>
                        <div class="lgd lgd4"></div>
                        <p class="layer-name">Mineral Concession</p>
                    </div> -->
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="aoi" name="example">
                            <label class="custom-control-label" for="aoi"></label>
                        </div>
                        <div class="lgd lgd5"></div>
                        <p class="layer-name">District of Interest</p>
                    </div>
                    <!-- <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2016" name="example">
                            <label class="custom-control-label" for="2016"></label>
                        </div>
                        <div class="lgd lgdx61"></div>
                        <p class="layer-name">Footprints</p>
                    </div> -->
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2008" name="example">
                            <label class="custom-control-label" for="2008"></label>
                        </div>
                        <div class="lgd lgdx61"></div>
                        <p class="layer-name">Points for 2008</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2010" name="example">
                            <label class="custom-control-label" for="2010"></label>
                        </div>
                        <div class="lgd lgdx62"></div>
                        <p class="layer-name">Points for 2010</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2011" name="example">
                            <label class="custom-control-label" for="2011"></label>
                        </div>
                        <div class="lgd lgdx63"></div>
                        <p class="layer-name">Points for 2011</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2012" name="example">
                            <label class="custom-control-label" for="2012"></label>
                        </div>
                        <div class="lgd lgdx64"></div>
                        <p class="layer-name">Points for 2012</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2013" name="example">
                            <label class="custom-control-label" for="2013"></label>
                        </div>
                        <div class="lgd lgdx65"></div>
                        <p class="layer-name">Points for 2013</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2014" name="example">
                            <label class="custom-control-label" for="2014"></label>
                        </div>
                        <div class="lgd lgdx66"></div>
                        <p class="layer-name">Points for 2014</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2015" name="example">
                            <label class="custom-control-label" for="2015"></label>
                        </div>
                        <div class="lgd lgdx67"></div>
                        <p class="layer-name">Points for 2015</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2016" name="example">
                            <label class="custom-control-label" for="2016"></label>
                        </div>
                        <div class="lgd lgdx68"></div>
                        <p class="layer-name">Points for 2016</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2017" name="example">
                            <label class="custom-control-label" for="2017"></label>
                        </div>
                        <div class="lgd lgdx69"></div>
                        <p class="layer-name">Points for 2017</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2018" name="example">
                            <label class="custom-control-label" for="2018"></label>
                        </div>
                        <div class="lgd lgdx610"></div>
                        <p class="layer-name">Points for 2018</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2019" name="example">
                            <label class="custom-control-label" for="2019"></label>
                        </div>
                        <div class="lgd lgdx611"></div>
                        <p class="layer-name">Points for 2019</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2020" name="example">
                            <label class="custom-control-label" for="2020"></label>
                        </div>
                        <div class="lgd lgdx612"></div>
                        <p class="layer-name">Points for 2020</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2021" name="example">
                            <label class="custom-control-label" for="2021"></label>
                        </div>
                        <div class="lgd lgdx613"></div>
                        <p class="layer-name">Points for 2021</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2022" name="example">
                            <label class="custom-control-label" for="2022"></label>
                        </div>
                        <div class="lgd lgdx614"></div>
                        <p class="layer-name">Points for 2022</p>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="2023" name="example">
                            <label class="custom-control-label" for="2023"></label>
                        </div>
                        <div class="lgd lgdx615"></div>
                        <p class="layer-name">Points for 2023</p>
                    </div>
                    <!-- {% for year in years %}
                    <div class="col-12">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="{{year.year}}" name="example">
                            <label class="custom-control-label" for="{{year.year}}"></label>
                        </div>
                        <div class="lgd lgd5"></div>
                        <p class="layer-name">Footprint for {{year.year}}</p>
                    </div>
                    {% endfor %} -->
                </div>
            </div>
            <div class="box query">
                <div class="close closebox"> <span> X </span></div>
                <h4> Charcoal Kiln / Scars</h4>
                <form class="form-compact" action="#">
                    <div class="row paddingBottom20">
                        <div class="container col-12">
                            <div class="row">
                                <!-- <h6 class="text-center col-12 mb-0">Contact Information</h6> -->
                                <sub class="text-right text-muted col-12"><a href="#" tabindex="-1"><i class="far fa-edit"></i></a></sub>
                            </div>
                            <div class="dropdown-divider mb-3"></div>
                            <div class="form-group row align-items-center">
                                <div class="col-12">
                                    <div class="col-12">
                                        <label for="boundary" class="col-12 col-form-label-lg">Bounadary:</label>
                                        <div class="input-group">
                                            <select id="boundary" class="form-control">
                                                <option disabled selected>Select a Bounadary</option>
                                                <option value="admin_boundaries">Admin Boundaries</option>
                                                <option value="protected_area">Protected Area</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center level">
                                <div class="col-12">
                                    <div class="col-12">
                                        <label for="region" class="col-12 col-form-label-lg">Level:</label>
                                        <div class="input-group">
                                            <select id="level" class="form-control">
                                                <option disabled selected>Select a Level</option>
                                                <option value="national">National</option>
                                                <option value="regional">Regional</option>
                                                <option value="district">District</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center region">
                                <div class="col-12">
                                    <div class="col-12">
                                        <label for="region" class="col-12 col-form-label-lg">Region:</label>
                                        <div class="input-group">
                                            <select id="region" class="form-control">
                                                <option disabled selected>Select a Region</option>
                                                {% for region in regions %}
                                                <option value="{{region.reg_code}}">{{region.region}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center district">
                                <div class="col-12">
                                    <div class="col-12">
                                        <label for="district" class="col-12 col-form-label-lg">District:</label>
                                        <div class="input-group">
                                            <select id="district" class="form-control">
                                                <option value="" disabled selected>Select a District</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group row align-items-center protected_areas">
                                <div class="col-12">
                                    <div class="col-12">
                                        <label for="protected_areas" class="col-12 col-form-label-lg">Protected
                                            Area:</label>
                                        <div class="input-group">
                                            <select id="protected_areas" class="form-control">
                                                <option value="">Select a Protected</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-group row align-items-center oneyear">
                                <div class="col-12">
                                    <div class="col-12">
                                        <label for="year" class="col-12 col-form-label-lg">Year:</label>
                                        <div class="input-group">
                                            <select id="year" class="form-control">
                                                <option>Select the Year</option>
                                                <option value="2015">2015</option>
                                                <option value="2018">2018</option>
                                                <option value="2022">2022</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center twoyear" style="display: none;">
                                <div class="row" style="padding: 0px 15px;">
                                    <div class="col-6">
                                        <label for="firstName" class="col-12 col-form-label-lg">Year 1:</label>
                                        <div class="col-12">
                                            <div class="input-group">
                                                <select id="year1" class="form-control">
                                                    <option>Select Year1</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2022">2022</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="firstName" class="col-12 col-form-label-lg"> Year 2:</label>
                                        <div class="col-12">
                                            <div class="input-group">
                                                <select id="year2" class="form-control">
                                                    <option>Select Year2</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2022">2022</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center switchyear">
                                <div class="col-12">
                                    <label class="col-12 col-form-label-lg"> <input id="switchyear" type="checkbox">
                                        Compare two (2) years instead </label>
                                </div>
                            </div>
                            <div class="form-group row align-items-center execute">
                                <div class="col-12">
                                    <button id="execute" type="button" class="btn btn-success"> Query </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box basemap">
                <div class="close closebox"> <span> X </span></div>
                <h4> Basemaps</h4>
                <div class="row" style="margin-top: 10px; padding: 5px 15px 5px 15px;">
                    <!-- <h4 class="boxheading"> Layers</h4> -->
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 lgndthumb" id="basemap1">
                                <img src="{% static 'charcoal_portal/assets/assets/maplegend/cartodb_positron.png' %}">
                            </div>
                            <div class="col-4 lgndthumb" id="basemap9">
                                <img src="{% static 'charcoal_portal/assets/assets/maplegend/esri_oceanbasemap.png' %} ">
                            </div>
                            <div class="col-4 lgndthumb" id="basemap3">
                                <img src="{% static 'charcoal_portal/assets/assets/maplegend/esri_worldterrain.png' %} ">
                            </div>
                            <div class="col-4 lgndthumb" id="basemap2">
                                <img src="{% static 'charcoal_portal/assets/assets/maplegend/here_satelliteday.png' %} ">
                            </div>
                            <div class="col-4 lgndthumb" id="basemap5">
                                <img src="{% static 'charcoal_portal/assets/assets/maplegend/stamen_toner.png' %} ">
                            </div>
                            <div class="col-4 lgndthumb" id="no_basemap">
                                <img src="{% static 'charcoal_portal/assets/assets/maplegend/white.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <!-- <link rel="stylesheet" href="./styles/style.css" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'charcoal_portal/assets/libs/js/leaflet.browser.print.min.js' %}"></script>
    <script src="{% static 'charcoal_portal/assets/libs/js/L.TileLayer.BetterWMS.js' %}"></script>
    <script src="{% static 'charcoal_portal/assets/libs/js/leaflet-measure.js' %}"></script>
    <script src="{% static 'charcoal_portal/assets/libs/js/leaflet-side-by-side.min.js' %}"></script>
    <script src="https://unpkg.com/geojson-vt@3.2.0/geojson-vt.js"></script>
    <script src="{% static 'charcoal_portal/assets/libs/js/leaflet-geojson-vt.js' %}"></script>
    <script src="{% static 'charcoal_portal/assets/libs/js/functions.js' %}"></script>
    <script src="{% static 'charcoal_portal/assets/libs/js/script.js' %}"></script>
    <script src="{% static 'charcoal_portal/assets/libs/js/map.js' %}"></script>
    <script type="text/javascript">
    $('body').addClass('modal-active');

    $('#modal-container').click(function() {
        $(this).addClass('out');
        $('body').removeClass('modal-active');
    });

    $('.m-close').click(function() {
        $('#modal-container').addClass('out');
        $('body').removeClass('modal-active');
    });

    $("#loading-bar-spinner")
        .delay(0.5)
        .queue(function(next) {
            $(this).css("display", "none");
            next();
        });

    function doit() {

        $(".notify").addClass("active").delay(120000).queue(function(next) {
            $(this).removeClass("active").delay(1000);
            next();
        });

        // alert('box2 already on shutting down entire box');
    }

    setInterval(doit, 70000);
    </script>
</body>

</html>