{% extends 'root_app/default-base.html' %}
{% load static %}

{% block title %}Charcoal Portal{% endblock %}

{% block css %}
<!-- <link rel="stylesheet" href="{% static 'charcoal_portal/assets/styles/map-nav.css' %}" /> -->
<link rel="stylesheet" href="{% static 'root_app/assets/css/leaflet-measure.css' %}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.css" integrity="sha512-mQ77VzAakzdpWdgfL/lM1ksNy89uFgibRQANsNneSTMD/bj0Y/8+94XMwYhnbzx8eki2hrbPpDm0vD0CiT2lcg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="{% static 'charcoal_portal/assets/styles/dashboard.css' %}" />
<style type="text/css">
  {% for charcoalpoint in charcoalpoint_years %}

  .lgdfp{{ charcoalpoint.year}}
    {
      background-color: {{ charcoalpoint.fill_color }};
      border: 1.5px solid {{ charcoalpoint.border_color }};
    }

    .point-marker-{{charcoalpoint.year}} {
      background-color: {{ charcoalpoint.fill_color}}61;
    }

    .point-marker-{{charcoalpoint.year}} div {
      background-color: {{ charcoalpoint.fill_color}};
    }
    
    {% endfor %}
    
    .point-marker-all {
      background-color: #0000ff61;
    }
    
    .point-marker-all div {
      background-color: #0000ff;
    }

  /* Cluster Marker Styles */
  .marker-cluster {
	  background-clip: padding-box;
	  border-radius: 20px;
    color: #ffffff;
	}
  
  .marker-cluster div {
	  width: 30px;
	  height: 30px;
	  margin-left: 5px;
	  margin-top: 5px;

	  text-align: center;
	  border-radius: 15px;
	  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
  
  .marker-cluster span {
	  line-height: 30px;
	}

  .loader-stats {
    height: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side,{% if app_details %}{{ app_details.box_top_color }}{% else %}#000000{% endif %} 90%,#0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l44 1s infinite linear alternate; 
  }

  .statistics-box .nav-pills{ 
    --bs-nav-pills-link-active-bg: {% if app_details %}{{ app_details.side_nav_icon_color }}{% else %}#fff{% endif %}; 
    --bs-nav-pills-link-active-color: {% if app_details %}{{ app_details.side_nav_color }}{% else %}#fff{% endif %}; 
    --bs-nav-link-color: {% if app_details %}{{ app_details.side_nav_icon_color }}{% else %}#fff{% endif %};
  }

  .statistics-box .nav-pills a:hover{
    outline:1px solid {% if app_details %}{{ app_details.side_nav_icon_color }}{% else %}#fff{% endif %}; 
    --bs-nav-link-hover-color: {% if app_details %}{{ app_details.side_nav_icon_color }}{% else %}#fff{% endif %}; 
  }

  @keyframes l44 {
    0%,
    5%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    12.5% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    25%   {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    37.5% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
    50%   {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 0   }
    62.5% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
    75%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 100%}
    87.5% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
    95%,
    100%  {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  }
</style>
{% endblock %}

{% block side-nav %}
{% include 'charcoal_portal/components/side-nav.html' %}
{% endblock %}

{% block query %}
{% include 'charcoal_portal/components/query.html' %}
{% endblock %}

{% block stats %}
{% include 'charcoal_portal/components/statistics.html' %}
{% endblock %}


{% block body %}
{% include 'charcoal_portal/components/dashboard.html' %}
<div class="box detials">
  <div class="d-flex justify-content-between box-title">
    <h4 class="title-text"> Details</h4>
    <i class="close closebox fa-solid fa-circle-xmark my-auto"></i>
  </div>
  <div class="box-body">
    <p>
      <img class="" style="width: 80%; height: auto; margin-bottom: 15px;"
        src="{% static 'root_app/assets/images/11.png' %}" />
      <br>
      {% if app_details %} {{app_details.details | safe}} {% else %}
    <p> Details </p>{% endif %}
    </p>
  </div>
</div>

<div class="box2 legend">
  <div class="d-flex justify-content-between box-title">
    <h4 class="title-text"> Legend</h4>
    <i class="close closebox1 fa-solid fa-circle-xmark my-auto"></i>
  </div>
  <div class="row" style="padding: 5px;">
    <!-- <h4 class="boxheading"> Layers</h4> -->
    <div class="col-12" id="legend-region">
      <div class="lgd lgdx1"></div>
      <p class="layer-name">Region</p>
    </div>
    <div class="col-12" id="legend-year-one">
      <div class="lgd lgdx7"></div>
      <p class="layer-name">Kiln (Year1)</p>
    </div>
    <div class="col-12" id="legend-year-two">
      <div class="lgd lgdx8"></div>
      <p class="layer-name">Kiln (Year2)</p>
    </div>
  </div>
</div>

<div class="box layer">
  <div class="d-flex justify-content-between box-title">
    <h4 class="title-text"> Layers</h4>
    <!-- <span class="close closebox my-auto"> X </span> -->
    <i class="close closebox fa-solid fa-circle-xmark my-auto"></i>
  </div>
  <div class="row box-body">
    <!-- <h4 class="boxheading"> Layers</h4> -->
    <div class="col-12">
      <div class="form-check form-switch form-check-reverse custom-switch">
        <input type="checkbox" class="form-check-input switch-input" id="region_boundary" name="region_boundary">
        <label class="form-check-label" for="region_boundary"></label>
      </div>
      <div class="lgd lgd1"></div>
      <p class="layer-name">Region</p>
    </div>

    <div class="col-12">
      <div class="form-check form-switch form-check-reverse custom-switch">
        <input type="checkbox" class="form-check-input switch-input" id="aoi_boundary" name="aoi_boundary">
        <label class="form-check-label" for="aoi_boundary"></label>
      </div>
      <div class="lgd lgd5"></div>
      <p class="layer-name">District of Interest</p>
    </div>
  </div>
</div>

<div class="box charcoaldata-modal">
  <div class="d-flex justify-content-between box-title">
    <h4 class="title-text">Charcoal Points</h4>
    <i class="close closebox fa-solid fa-circle-xmark my-auto"></i>
  </div>

  <div class="box-body">
    <div id="deselect_all_points" class="row row-cols-12 gap-2 justify-content-center charcoaldata-container d-none">
      <div class="col-12">
        <p class="layer-name text-center"><strong>Deselect All Points</strong></p>
      </div>
    </div>
    <div class="row row-cols-12 gap-2 justify-content-center charcoaldata-container">
      <div class="col-12">
        <div class="form-check form-switch form-check-reverse custom-switch">
          <i id="cluster-down" class="fa-solid fa-chevron-down" data-bs-toggle="collapse" data-bs-target="#collapseAllPoints" aria-expanded="false" aria-controls="collapseAllPoints"></i>
          <input type="checkbox" class="form-check-input switch-input" id="all_points"
          name="all_points">
          <label class="form-check-label" for="all_points"></label>
        </div>
        <div class="lgd lgd6"></div>
        <p class="layer-name">All Charcoal Points</p>
      </div>
      <div id="collapseAllPoints" class="cluster-container border border-2 collapse col-11">
        <div class="form-check form-check-reverse custom-switch">
          <input type="checkbox" class="form-check-input switch-input-cluster" id="cluster_all_points"
          name="cluster_all_points">
          <label class="form-check-label" for="cluster_all_points"></label>
        </div>
        <p class="layer-name">Cluster</p>
      </div>
    </div>
    {% for charcoalpoint in charcoalpoint_years %}
    <div class="row row-cols-12 gap-2 justify-content-center charcoaldata-container">
      <div class="col-12 ">
        <div class="form-check form-switch form-check-reverse custom-switch">
          <i id="cluster-down" class="fa-solid fa-chevron-down" data-bs-toggle="collapse" data-bs-target="#collapseCharcoalpoint{{charcoalpoint.year}}" aria-expanded="false" aria-controls="collapseCharcoalpoint{{charcoalpoint.year}}"></i>
          <input type="checkbox" class="form-check-input switch-input" id="charcoalpoint_{{charcoalpoint.year}}"
            name="charcoalpoint_{{charcoalpoint.year}}">
          <label class="form-check-label" for="{{charcoalpoint.year}}"></label>
        </div>
        <div class="lgd lgdfp{{charcoalpoint.year}}"></div>
        <p class="layer-name">{{charcoalpoint.year}}</p>
      </div>
      <div id="collapseCharcoalpoint{{charcoalpoint.year}}" class="cluster-container border border-2 collapse col-11">
        <div class="form-check form-check-reverse custom-switch">
          <input type="checkbox" class="form-check-input switch-input-cluster" id="cluster_charcoalpoint_{{charcoalpoint.year}}"
          name="cluster_charcoalpoint_{{charcoalpoint.year}}">
          <label class="form-check-label" for="cluster_charcoalpoint_{{charcoalpoint.year}}"></label>
        </div>
        <p class="layer-name">Cluster</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


  <div class="statistics-box statistics">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            STATISTICS
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#statAccordionExample">
          <div class="accordion-body">
      
              <ul class="nav nav-pills gap-2" id="pending-myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="bar-chart-tab" data-bs-toggle="tab" data-bs-target="#bar-chart-home" type="button" role="tab" aria-controls="bar-chart-home" title="Level" aria-selected="true">
                      Level
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="trend-tab" data-bs-toggle="tab" data-bs-target="#trend-profile" type="button" role="tab" aria-controls="pending-profile" title="Growth Rate"  aria-selected="false">
                      Growth Rate</a>
                </li>
                <!-- <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pending-profile-tab" data-bs-toggle="tab" data-bs-target="#pending-profile" type="button" role="tab" aria-controls="pending-profile" title="Trend analysis"  aria-selected="false">
                      Pie chart</a>
                </li> -->
              </ul>
              <div class="tab-content" id="myTabContent">
            
                <div class="tab-pane fade show active" id="bar-chart-home" role="tabpanel" aria-labelledby="bar-chart-tab">          
                    <div id="stat-line-chart"></div>
                </div>
            
                <div class="tab-pane fade" id="trend-profile" role="tabpanel" aria-labelledby="trend-tab">
                    <div id="growth-rate-chart"></div> 
                </div>
                
                <div class="tab-pane fade" id="pending-profile" role="tabpanel" aria-labelledby="pending-profile-tab">
                    <div id="pie-chart"></div> 
                </div>
            
              </div>
  
            <div id="loader-stats-container" class="d-flex justify-content-center align-items-center">
              <div class="loader-stats"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box watershed_legend">
    <div class="accordion" id="defLegendAccordion">
      <div class="accordion-item">
        <div class="d-flex justify-content-between box-title">
          <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDefLegend"
                aria-expanded="true" aria-controls="DefLegend">
                <h4 class="title-text">Land Use/Land Cover Legend</h4>
              </button>
        </div>
      
        <div id="collapseDefLegend" class="box-body accordion-collapse collapse show">
          <div class="col-12">
            <div class="lgd" style="background-color: #0070FF;"></div>
            <p class="layer-name">Water</p>
          </div>
          <div class="col-12">
            <div class="lgd" style="background-color: #FFFF00;"></div>
            <p class="layer-name">Agriculture</p>
          </div>
          <div class="col-12">
            <div class="lgd" style="background-color: #4FBB36;"></div>
            <p class="layer-name">Woodland</p>
          </div>
          <div class="col-12">
            <div class="lgd" style="background-color: #D7C29E;"></div>
            <p class="layer-name">Shrub and Trees</p>
          </div>
          <div class="col-12">
            <div class="lgd" style="background-color: #FFAA00;"></div>
            <p class="layer-name">Grassland</p>
          </div>
          <div class="col-12">
            <div class="lgd" style="background-color: #008000;"></div>
            <p class="layer-name">Closed Forest</p>
          </div>
          <div class="col-12">
            <div class="lgd" style="background-color: #B514FF;"></div>
            <p class="layer-name">Plantation</p>
          </div>
          <div class="col-12">
            <div class="lgd" style="background-color: #9EFBAA;"></div>
            <p class="layer-name">Open Forest</p>
          </div>
          <div class="col-12">
            <div class="lgd" style="background-color: #FF0000;"></div>
            <p class="layer-name">Built Up</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  

{% endblock %}

{% block js %}
<script src="{% static 'charcoal_portal/assets/js/leaflet.browser.print.min.js' %}"></script>
<script src="{% static 'charcoal_portal/assets/js/L.TileLayer.BetterWMS.js' %}"></script>
<script src="{% static 'root_app/assets/js/leaflet-measure.js' %}"></script>
<script src="{% static 'charcoal_portal/assets/js/leaflet-side-by-side.min.js' %}"></script>
<script src="{% static 'charcoal_portal/assets/js/dashboard.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js" integrity="sha512-OFs3W4DIZ5ZkrDhBFtsCP6JXtMEDGmhl0QPlmWYBJay40TT1n3gt2Xuw8Pf/iezgW9CdabjkNChRqozl/YADmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'charcoal_portal/assets/js/functions.js' %}"></script>
<script src="{% static 'charcoal_portal/assets/js/script.js' %}"></script>

<!-- Intro js Initilization -->
<script src="{% static 'charcoal_portal/assets/js/intro.js' %}"></script>

<script src="{% static 'charcoal_portal/assets/js/query.js' %}"></script>


<!-- <script src="{% static 'charcoal_portal/assets/js/map.js' %}"></script> -->

<script>
  /* 
GLOBAL Variables And Helper
*/
  const geoserver_wfs_url = 'https://geoserver-dev.cersgis.org/geoserver/wfs'
  const geoserver_wms_url = 'https://geoserver-dev.cersgis.org/geoserver/wms'
  // const openstreetmap_url = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
  const watershed_url = '{% url "charcoalPortal:load_lulc_watershed" %}';

  // Set Map
  // let map = L.map('map', { attributionControl: false}).setView([8.967388, -0.971667], 8.2);

  var layers_group = [];
  let charcoalpoints_group = [], charcoalpoints_cluster = [],  watershed_group = [], fire_hotspots = [];

  let watershedOnEachFeature;


  // Set Initial BaseMap
  // let initialBasemap = L.tileLayer(openstreetmap_url, {
  //   attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
  // }).addTo(map);

  // map.invalidateSize();

  // Get Data On load
  (function async() {
    GeoserverWFSLayers(geoserver_wfs_url,
      {
        layers: 'charcoal:region',
        style: {
          fillColor: 'transparent',
          weight: 2,
          opacity: 1,
          color: 'red',
          dashArray: '3',
          fillOpacity: 0.7,
        },
      },
      'region_layer'
    )

    GeoserverWFSLayers(geoserver_wfs_url,
      {
        layers: 'charcoal:area_of_interest',
        style: {
          // fillColor: '#00000063',
          fillColor: '#FDEED8',
          weight: 2,
          opacity: 1,
          color: '#000',
          fillOpacity: 0.7,
        },
      },
      'aoi_layer'
    )

    GeoserverWFSCluster(geoserver_wfs_url,
      {
        layers: 'charcoal:points',
        style: {
          radius: 6,
          fillColor: 'blue',
          color: 'black',
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8,
        },
        class_name: 'point-marker-all',
      },
      'cluster_all_points'
    );

    GeoserverWFS(geoserver_wfs_url,
      {
        layers: 'charcoal:points',
        style: {
          radius: 6,
          fillColor: 'blue',
          color: 'black',
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8,
        },
        class_name: 'point-marker-all',
      },
      'all_points'
    )
    // .then(() => {
    //   let onload_check = $('#all_points').prop('checked', true);
    //   toggleLayer(map, charcoalpoints_group['all_points'], onload_check);
    // });
    
    {% for charcoalpoint in charcoalpoint_years %}
    
    GeoserverWFS(geoserver_wfs_url,
      {
        layers: 'charcoal:points',
        style: {
          radius: 6,
          fillColor: '{{charcoalpoint.fill_color}}',
          color: '{{charcoalpoint.border_color}}',
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8,
        },
        CQL_FILTER: 'year={{charcoalpoint.year}}',
        class_name: 'point-marker-{{charcoalpoint.year}}',
      },
      'charcoalpoint_{{charcoalpoint.year}}'
    )

    GeoserverWFSCluster(geoserver_wfs_url,
      {
        layers: 'charcoal:points',
        style: {
          radius: 6,
          fillColor: '{{charcoalpoint.fill_color}}',
          color: '{{charcoalpoint.border_color}}',
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8,
        },
        CQL_FILTER: 'year={{charcoalpoint.year}}',
        class_name: 'point-marker-{{charcoalpoint.year}}',
      },
      'cluster_charcoalpoint_{{charcoalpoint.year}}'
    )

    {% endfor %}

    GeoserverWFSHotspots(geoserver_wfs_url,
      {
        layers: 'charcoal:firehotspot_2020',
        style: {
          // fillColor: '#00000063',
          fillColor: '#FDEED8',
          weight: 2,
          opacity: 1,
          color: '#000',
          fillOpacity: 0.7,
        },
      },
      'firehotspot_2020'
    )

    GeoserverWFSLayers(geoserver_wfs_url,
      {
        layers: 'charcoal:watershed_savannah',
        style: {
          fillColor: 'transparent',
          weight: 2,
          opacity: 1,
          color: '#000000',
          dashArray: '3',
          fillOpacity: 0.7
        },
        // onEachFeature: watershedOnEachFeature
      },
      'watershed_boundary_layer'
    )

    // Watershed Loader
    loadwaterShed(watershed_url, '2024', 'watershed')

    $.get(`{% url 'charcoalPortal:load_statistics' %}`, (res) => {
      data = res['computed_stats']

      loadGeneralStats(data, 'Points Per Year', 'Number of Points', 'logarithmic','total_points', 'stat-line-chart', 'line');
      loadGeneralStats(data, 'Growth Rate \n (Log Transformed)', 'Percentage (%)', 'linear','growth_rate', 'growth-rate-chart', 'area');
    });
  })()


  $('#region_boundary').change(function () {
    toggleLayer(map, layers_group['region_layer'], $(this));
  });

  $('#aoi_boundary').change(function () {
    toggleLayer(map, layers_group['aoi_layer'], $(this));
  });
  
  $('#deselect_all_points').click(function () {
    deselectAll(map, charcoalpoints_group, charcoalpoints_cluster);
  });

  $('#all_points').change(function () {
    toggleLayer(map, charcoalpoints_group['all_points'], $(this));
  });
  
  $('#cluster_all_points').change(function () {
    toggleCluster(map, charcoalpoints_group['all_points'],charcoalpoints_cluster['cluster_all_points'], $(this));
  });
  
  // Footprint Checkbox Change Detect
  {% for charcoalpoint in charcoalpoint_years %}
  $('#charcoalpoint_{{charcoalpoint.year}}').change(function () {
    toggleLayer(map, charcoalpoints_group['charcoalpoint_{{charcoalpoint.year}}'], $(this));
  });
  
  $('#cluster_charcoalpoint_{{charcoalpoint.year}}').change(function () {
    toggleCluster(map, charcoalpoints_group['charcoalpoint_{{charcoalpoint.year}}'], charcoalpoints_cluster['cluster_charcoalpoint_{{charcoalpoint.year}}'], $(this));
  });
  {% endfor %}
  
  $('#firehotspot_2020').change(function () {
    toggleLayer(map, fire_hotspots['firehotspot_2020'], $(this));
  });
  
// Toggle for LU/LC layer
$('#lulc_savannah').change(function () {
  toggleLayer(map, watershed_group['watershed'], $(this));
  $('.watershed_legend').toggle($(this).prop('checked'));
});

// Toggle for Water Shed layer
$('#watershed_layer').change(function () {
  toggleLayer(map, layers_group['watershed_boundary_layer'], $(this));
});

  
  let coords;
  var drawnItems = new L.geoJson().addTo(map);
  drawnItems.bringToFront();
  var layer;

  map.on(L.Draw.Event.CREATED, function (event) {
    drawnItems.removeLayer(layer);
    layer = event.layer;

    // $("#dialog").dialog("open");
    drawnItems.addLayer(layer);

    let type = event.layerType;
    coords = layer.getLatLngs();

  });



  L.EditToolbar.Delete.include({
    removeAllLayers: false,
  });

  // Control Options
  var measureOptions = {
    position: 'bottomleft',
    primaryAreaUnit: 'hectares',
    secondaryAreaUnit: 'sqmeters',
    primaryLengthUnit: 'meters',
    secondaryLengthUnit: 'kilometers'
  }

  var positionOption = {
    position: 'bottomleft'
  }

  var drawtool = new L.Control.Draw({
    edit: {
      featureGroup: drawnItems,
    },
    draw: {
      polygon: true,
      rectangle: true,
      circlemarker: false,
      marker: false,
      polyline: false,
      circle: false,
    },
    position: 'bottomleft',
  });




  // Control Initialization
  var measureControl = new L.Control.Measure(measureOptions);
  var browserPrintControl = L.control.browserPrint(positionOption);


  // Adding Controls - NB: Order appears inverted on page
  browserPrintControl.addTo(map)
  drawtool.addTo(map)
  measureControl.addTo(map);
  map.zoomControl.setPosition('bottomleft');
</script>
{% endblock %}

{% block gtagscript %}
{% if not debug_status %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ERJ0GMKFDS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ERJ0GMKFDS');
</script>
{% endif %}

{% endblock %}