    <div class="contain-fluid mb-3" data-aos="fade-up">  
        <ul class="nav nav-pills" id="pending-myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pending-home-tab" data-bs-toggle="tab" data-bs-target="#pending-home" type="button" role="tab" aria-controls="pending-home" title="Grid View" aria-selected="true">
                Bar Chart
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pending-profile-tab" data-bs-toggle="tab" data-bs-target="#pending-profile" type="button" role="tab" aria-controls="pending-profile" title="List View"  aria-selected="false">
                Pie chart</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
  
          <div class="tab-pane fade show active" id="pending-home" role="tabpanel" aria-labelledby="pending-home-tab">
            <div class="">

                <div class="chart-card">
                    <div id="bar-c" style="border-radius: inherit;"></div>
                </div>

                <!-- <div class="chart-card">
                    <div id="bar-chart-2" style="border-radius: inherit;"></div>
                </div> -->
            </div>    
          </div>
  
          <div class="tab-pane fade pending-policy-table" id="pending-profile" role="tabpanel" aria-labelledby="pending-profile-tab">
            <div class="chart-card">
              <div id="pie-chart" style="border-radius: inherit;"></div> 
            </div>
          </div>
  
        </div>
      </div>
