  <!-- Modal -->
  <div class="modal fade" id="dataRequestModal" tabindex="-1" aria-labelledby="dataRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dataRequestModalLabel">Data Request</h5>
          <button type="button" class="btn-close closee" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-circle-xmark my-auto"></i>

          </button>
        </div>
        <div class="modal-body">
          <div id="data-request-loading-spinner" class="spinner d-none">
            <div class="spinner-icon"></div>
          </div>
            <form id="data_request_form" class="needs-validation" novalidate>
                <div class="row mt-2">
                  {% csrf_token %}
                    <div class="mb-4 col-6">
                      <label for="name" class="form-label">Name / Organization </label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
                        <div class="invalid-feedback">
                          Please enter your name.
                        </div>
                    </div>
                    <div class="mb-4 col-6">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="your.email@mail.com" required>
                      <div class="invalid-feedback">
                        Please enter your email.
                      </div>
                    </div>
                    <div class="mb-4 col-12">
                      <label for="subject" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Data Request" required>
                        <div class="invalid-feedback">
                          Subject is required.
                        </div>
                    </div>
                    <div class="col-12">
                      <label for="comments" class="form-label">Comments</label>
                      <textarea class="form-control" name="comments" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    </div>
                </div>
                <div class="justify-content-between  mt-4 mb-1">
                  <button type="submit" id="data_request_submit" class="btn btn-lg w-100">Request</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>