<div class="box report">
    <div class="d-flex justify-content-between box-title">
      <h4 class="title-text"> Reports</h4>
      <i class="close closebox fa-solid fa-circle-xmark my-auto"></i>
    </div>
    <div class="report-container" style="margin-top: 10px; padding: 5px 10px 5px 10px;">
      {% for report in reports %}
      <div class="report-card border shadow bg-body">
        <div class="row h-100">
          <div class="col-4" style="height: inherit;">
            {% if report.image %}
              <img class="report-img" src="{{report.image.url}}">
            {% else %}
              <img class="report-img" src="/static/assets/landing/images/thumbnail.jpg" alt="{{ report.name }}"/>
            {% endif %}
          </div>
          <div class="col-8 ps-0 pt-2">
            <p class="report-title" data-toggle="tooltip" data-placement="right" title="{{report.name}}">{{report.name |truncatechars:32}}</p>
            <div class="row report-btns">
              <button class="col-6 btn"><a class="d-flex align-items-center" href="{{report.document.url}}" download><i
                    class="fa-solid fa-download pe-2"></i> Download</a></button>
              <button class="col-6 btn"><a class="d-flex align-items-center" target="_blank" href="{{report.document.url}}"><i
                    class="fa-solid fa-eye pe-2"></i>View </a></button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  